@charset "UTF-8";

/* Last edit: 7/13/2018 11:21 PM */
/* Last validated error free: 7/13/2018 11:21 PM */

/* Cite code */
/* https://www.w3schools.com/cssref/css_websafe_fonts.asp & https://www.w3schools.com/css/css_font.asp for fonts 
 * https://www.w3schools.com/Css/css_link.asp
 * https://www.w3schools.com/css/css3_images.asp
 * Sadrac and I helped eachother as well*/

/* Color Scheme
 * Grey 1: #f4f2f7
 * Grey 2: #dcd9dd
 * Grey 3: #c5c1c5
 * Grey 4: #aba6a9
 * Grey 5: #918b8d
 * Grey 6: #777071
 * Grey 7: #605859
 * Grey 8: #483f3f */

/* Heading and navigation bar look */

body{
	background-color: #f4f2f7;
}
#company_name{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #483f3f;
	font-size: 60px;
	font-weight: 500;
	border-bottom-style: solid;
	border-color: #483f3f;
	padding: 0px 25px 5px 25px;
}
#nav_bar{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #483f3f;
	font-size: 15px;
	font-weight: bold;
	list-style-type: none;
}
#nav_bar li{
	padding-left: 100px;
	padding-right: 100px;
	display: inline;
	/* list-style-position: center; */
}
#nav_bar li a{
	text-decoration: none;
	padding: 5px 25px 5px 25px;
	border-color: #483f3f;
	border-style: solid;
	color: #483f3f;
}
#nav_bar li #active{
	text-decoration: none;
	padding: 5px 25px 5px 25px;
	background-color: #483f3f;
	color: #f4f2f7;
}
#nav_bar li a:hover{
	text-decoration: none;
	padding: 5px 25px 5px 25px;
	background-color: #483f3f;
	color: #f4f2f7;
}

/* Bio Look */
#intro{
	margin-top: -20px;
	margin-left: 120px;
	margin-right: 120px;
}
#intro article h1{
	font-size: 60px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 25px 25px 25px 25px;
	background-color: #483f3f;
	}
#intro article p{
	margin-top: -60px;
	font-size: 20px;
	font-weight: 100;
	color: #483f3f;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
	line-height: 120%;
	padding: 50px 25px 50px 25px;
	border-style: solid;
	border-color: #483f3f;
}
#intro article{
	text-align: left;
	color: #f4f2f7;
}
#bio{
	margin-top: -21px;
	margin-left: 120px;
	margin-right: 120px;
}
.portrait{
	background-color: #483f3f;
	padding: 25px 25px 25px 25px;
}
.portrait img{
	border-radius: 50%;
	height: 250px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #f4f2f7;
}
#bio article h1{
	margin-top: -25px;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	color: #f4f2f7;
	text-align: center;
	padding: 25px 25px 25px 25px;
	background-color: #483f3f;
}

#summary{
	margin-top: -62px;
	margin-left: 120px;
	margin-right: 120px;
}
#summary article h1{
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 25px 25px 25px 25px;
	background-color: #483f3f;
	}
#summary article p{
	margin-top: -30px;
	font-size: 20px;
	font-weight: 100;
	color: #483f3f;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
	line-height: 120%;
	padding: 50px 25px 50px 25px;
	border-style: solid;
	border-color: #483f3f;
}
#summary article{
	text-align: left;
	color: #f4f2f7;
}

#education{
	margin-top: -30px;
	margin-left: 120px;
	margin-right: 120px;
}
#education article h1{
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 25px 25px 25px 25px;
	background-color: #483f3f;
	}
#education article ul{
	margin-top: -30px;
	font-size: 20px;
	font-weight: 100;
	color: #483f3f;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
	line-height: 200%;
	padding: 50px 25px 50px 25px;
	border-style: solid;
	border-color: #483f3f;
	list-style-type: none;
}
#education article{
	text-align: left;
	color: #f4f2f7;
}

#skills{
	margin-top: -30px;
	margin-left: 120px;
	margin-right: 120px;
}
#skills article h1{
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 25px 25px 25px 25px;
	background-color: #483f3f;
	}
#skills article ul{
	margin-top: -31px;
	font-size: 20px;
	font-weight: 100;
	color: #483f3f;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
	line-height: 200%;
	padding: 50px 25px 50px 25px;
	border-style: solid;
	border-color: #483f3f;
	list-style-type: none;
}
#skills article{
	text-align: left;
	color: #f4f2f7;
}

#contact{
	margin-top: -30px;
	margin-left: 120px;
	margin-right: 120px;
}
#contact article h1{
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 25px 25px 25px 25px;
	background-color: #483f3f;
	}
#contact article ul{
	margin-top: -30px;
	font-size: 20px;
	font-weight: 100;
	color: #483f3f;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
	line-height: 200%;
	padding: 50px 25px 50px 25px;
	border-style: solid;
	border-color: #483f3f;
	list-style-type: none;
}
#contact article{
	text-align: left;
	color: #f4f2f7;
}

/* Footer */
#footer{
	margin-top: 60px;
}
#footer li{
	display: inline;
	margin-left: 120px;
	padding: 25px 25px 25px 25px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #483f3f;
}
